.logo-p1 {
	background: rgb(25,53,198);
    background: linear-gradient(90deg, rgba(25,53,198,1) 7%, rgba(0,212,255,1) 47%);
	border-radius: 50%;
	height: 15px;
	width:15px;	    
}
/*.in-logo{
	border : 8px solid white;*/
	/*width:10px;
	height:6px;
	background:#fff;
	-webkit-transform:skew(-50deg);
	-moz-transform:skew(-50deg);
	-o-transform:skew(-50deg);
	tranform:skew(-50deg);*/
     
/*}*/
nav .logo{
  align-items: center;	
  display : flex;
  justify-content: space-between;
  width : 8%;
}
nav {
	align-items: center;
	display: flex;
	font-family: 'Poppins', sans-serif;
	justify-content : space-between;
	min-height: 70px;
}
nav ul {
	align-items: center;
	display : flex;
	justify-content: space-around;
	width : 40%;
}
nav ul li {
	list-style : none;
}